body{
  font-family: Consolas, serif;
  width: 100%;
}

main, section.home{
  padding-left: 95px;
  padding-right: 95px;
}

section{
  height: 100vh;
}

h1, header a, header a:hover, header a:checked{
  color: #bb6d56;
  font-size: 48px;
}

main{
  background-image: url("../img/bg/bgbody.jpg");
  background-size: 100% 100vh;
}

section.home{
  background-image: url("../img/bg/bgmain.jpg");
  background-size: 100% 100vh;
}

header, section.service h1{
  width: 100%;
  padding-bottom: 50px;
  padding-top: 50px;
}
/* header */
header{
  display: flex;
  justify-content: space-between;
}

header h1{
  flex-grow: 2;
}

header a[href="#service"]{
  margin-right: 100px;
}

header a, header a:hover, header a:checked{
  text-decoration: none;
}
/* section home */
section.home h2 {
  font-size: 48px;
  color: #99afc1;
  text-align: center;
  margin-bottom: 90px;
}

section.home img{
  border-radius: 100%;
  width: 370px;
  height: 370px;
  float: left;
}

section.home p{
  display: block;
  width: 510px;
  color: #99afc1;
  font-size: 42px;
  float: right;
  z-index: 1;
  position: relative;
}

section.home div.accent
{
  background-color: #292929;
  width: 620px;
  height: 215px;
  position: absolute;
  right: 0;
  top: 540px;
  z-index: 0;
}
/* section services */
section.service h1
{
  text-align: center;
}

div.groupService{
  display: flex;
  justify-content: space-around;
  height: 100%;
}

div.recService{
  background-color: #bb6d56;
  width: 20%;
  height: 50%;
}

div.recService:nth-child(2){
  background-color: #99afc1;
}

div.recService img{
  margin: 40px;
}

div.recService p{
  font-size: 48px;
  text-align: center;
}
/* section contact */
section.contact{
  background-color: g
}
section.contact h1{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

div.contactInfo div{
  width: 33%;
}

div.contactInfo div img{
  width: 25%;
  float: left;
}

div.contactInfo div p{
  font-size: 36px;
  margin-top: 10%;
  padding-left: 30%;
}

div.contactInfo{
  display: flex;
  justify-content: space-around;
  color: #99afc1;
}

section.contact p{
  text-align: center;
  color: #99afc1;
  font-size: 42px;
  margin-bottom: 50px;
}

section.contact form{
  width: 100%;
  text-align: center;
  height: 40%;
}

section.contact input{
  width: 40%
}


section.contact input:last-child{
  width: 81%;
  height: 100%;
}
